.avatar_holder {
  fill: url('#grump_avatar');
}

.avatar_holder2 {
  fill: url('#grump_avatar2');
}

.avatar_holder3 {
  fill: url('#grump_avatar3');
}

.avatar_holder4 {
  fill: url('#grump_avatar4');
}

.avatar_holder5 {
  fill: url('#grump_avatar5');
}

.avatar_holder_away {
  fill: url('#grump_avatar_away');
}

.avatar_holder_away2 {
  fill: url('#grump_avatar_away2');
}

.avatar_holder_away3 {
  fill: url('#grump_avatar_away3');
}

.avatar_holder_away4 {
  fill: url('#grump_avatar_away4');
}

.avatar_holder_away5 {
  fill: url('#grump_avatar_away5');
}
