.rotated {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.score_rect {
  border-radius: 0;
}

.score_text {
  font-size: 0.7em;
  font-weight: 300;
}

.score_label {
  font-size: 0.85rem;
  font-weight: 700;
}

#score_graph_svg {
  /*  display: block;
  margin: 0 auto;*/
}

.score_graph_container {
  width: 70%;
  display: block;
  margin: 0 auto;
}


